.sub-header {

    display: flex;
    justify-content: space-between;

}

.logo {

    width: 10rem;
    height: 3rem;

}

.nav-list {

    list-style: none;
    display: flex;
    column-gap: 2rem;
    color: #fff;

}

.nav-list a {

    color: #fff;
    text-decoration: none;
}

.nav-list li>a:hover {
    cursor: pointer;
    color: var(--orange);

}