.calories {

    display: flex;
    column-gap: 2rem;
    background-color: var(--caloryCard);
    border-radius: 5px;
    padding: 1rem;
    width: max-content;
    position: absolute;
    top: 43rem;
    right: 30rem;

}

.calories > img {

    width: 22%;
    object-fit: contain;

}

.calories > div {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.calories > div span:nth-child(1) {

    color: var(--gray);
}

.calories > div span:nth-child(2) {

    color: #fff;
    font-size: 1.5rem;
    
}