/* styling the parent container that is the header  */
.header {

    display: flex;
    justify-content: space-between;

}

.header-blur {

    width: 22rem;
    height: 30rem;
    left: 0;
}
.left-h {

    padding: 1.5rem 2rem 2rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}

.the-best-ad {

    margin-top: 3rem;
    background-color: #363d42;
    border-radius: 5rem;
    width: fit-content;
    padding: 18px 15px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.the-best-ad>div{

    position: absolute;
    background-color: var(--orange);
    width: 5.4rem;
    height: 75%;
    left: 8px;
    border-radius: 5rem;
    z-index: 1;

}

.the-best-ad>span{

    z-index: 2;

}

.header-text {

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: #fff;
    text-overflow: inherit;
}

.header-text .stroke-text {

    margin-right: 1.5rem;

}

/* targeting the third div in the header-text section  */
.header-text>div:nth-of-type(3) {

    font-size: 1rem;
    text-transform: none;
    font-weight: 200;
    letter-spacing: 1px;
    width: 80%;

}

.figures {

    display: flex;
    column-gap: 2rem;

}

/* targeting each div in the figures setion  */
.figures>div {

    display: flex;
    flex-direction: column;

}

/* targeting the first span in the .figures div section */
.figures>div>span:nth-of-type(1) {

    color: #fff;
    font-size: 2rem;

}

/* targeting the second span in the .figures div section */
.figures>div>span:nth-of-type(2) {

    color: var(--gray);
    text-transform: uppercase;
    
}

/* header button  */
.header-button {

    display: flex;
    column-gap: 1rem;
    font-weight: normal;

}

/* targeting the first button in the header btn  */
.header-button button:nth-of-type(1) {

    color: #fff;
    background-color: var(--orange);
    width: 8rem;

}

/* targeting the second button in the header btn  */
.header-button button:nth-of-type(2) {

    color: #fff;
    background-color:transparent;
    width: 8rem;
    border: 2px solid var(--orange);    
}

.right-h {

    flex: 1;
    position: relative;
    background-color: var(--orange);

}

.right-h>.btn {

    position: absolute;
    right: 3rem;
    top: 2rem;
    color: #000;

}

/* heart-rate contains the heart img aand the text  */
.heart-rate {

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: var(--darkGrey);
    width: fit-content;
    padding: 1rem 1.3rem;
    align-items: flex-start;
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    top: 7rem;

}

/* heart rate img  */
.heart-rate img {

    width: 2.5rem;

}

/* targing the first child that is the first span */
.heart-rate span:nth-of-type(1) {

    color: var(--gray);

}

/* second  span  */
.heart-rate span:nth-of-type(2) {

    color:#fff;
    font-size:1.5rem;

}

/* styling of the heart rate section ends here  */

/* styling of the header image  */
.header-img {

    position: absolute;
    /* top: 10rem;
    right: 8rem;
    width: 23rem; */
    top: 7rem;
    right: 10rem;
    width: 25rem;

}

.header-img-back {

    position: absolute;
    top: 4rem;
    right: 20rem;
    z-index: -1;
    width: 15rem;

}